.flex-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: .3rem .5rem;
    border: .05rem solid rgba(33, 33, 34, 0.562);
    color: rgba(8, 8, 8, 0.856);
    background-color: transparent;
    font-size: 1.2rem;
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

button:hover {
    cursor: pointer;
}

button:nth-child(1) {
    border-radius: .2rem 0 0 .2rem;
    border-right: none;
}

h2 {
    font-size: 2.5rem;
    margin-block-end: 3.5rem;
}

button:nth-child(2) {
    border-radius: 0 .2rem .2rem 0;
}

.flex-contenedor div {
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 46%);
    border-radius: .2rem;
}