<div class="container">
    <div class="container-flex">
        <div class="descripcion">
            <h2>Iniciar Sesion</h2>
        </div>
        <form action="">

            <div class="input-group">
                <label for="email">Correo electronico:</label>
                <input type="email" id="email" class="" placeholder="email">

            </div>
            <div class="input-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" class="" placeholder="Password">
            </div>

            <button class="btn">Iniciar sesion</button>
        </form>
    </div>
</div>