table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #000;
    color: #fff;
}

th,
td {
    text-align: center;
    padding-block: .5rem;
}

tbody tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

button {
    color: #fff;
    padding: .3rem .4rem;
    border-radius: .3rem;
    background-color: #44803F;
    border: .1rem solid #44803F;
}

button:hover {
    cursor: pointer;
    background-color: #B4CF66;
    border-color: #B4CF66;
}

.kind {
    padding: .3rem .4rem;
    border-radius: .3rem;
    display: inline-block;
    color: #fff;
}

.bg-green {
    background-color: #146152;
}

.bg-red {
    background-color: #a92b0d;
}