table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #000;
    color: #fff;
}

th,
td {
    text-align: center;
    padding-block: .5rem;
}

tbody tr:nth-child(2n+1) {
    background-color: #eeeeee;
}