<div class="table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm container">
    <table class="table">

        <thead class="table-dark">
            <tr>

                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Foto</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate :{itemsPerPage:10,currentPage:current}">

                <td>{{user.name+' '+user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.rol}}</td>
                <td><img [src]="user.image! | imagen:'users'" alt=" "></td>
                <td>
                    <button class="btn btn-success btn-sm " (click)="edit(user.id!)">Editar</button>
                    <button class="btn btn-danger btn-sm ms-1" (click)="delete(user.id!)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="current=$event "></pagination-controls>
</div>