label {
    display: block;
    margin-bottom: .5rem;
}

.text-danger {
    color: #ff0000;
}

input {
    width: 100%;
    border: .1rem solid #ccc;
    padding: .5rem;
    margin-bottom: .5rem;
}

button {
    margin-top: .5rem;
    padding: .5rem .8rem;
    background-color: rgb(14, 18, 243);
    color: #fff;
    border: .1rem solid rgb(14, 18, 243);
    border-radius: .3rem;
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
}

button:hover:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #ccc;
}