<app-form-detalle></app-form-detalle>
<h2 class="title-result">{{'Lista de compras' | titlecase}}</h2>
<app-lista-compras></app-lista-compras>



<div class="flex-container">
    <div class="container-text">
        <h3>Resumen:</h3>
    </div>

    <div class="container-input">
        <label for="correo">Correo del proveedor:</label>
        <input type="email" [(ngModel)]="correo">
    </div>
    <table>
        <tr>
            <td>SubTotal:</td>
            <td>{{total[0] | currency:'CRC':true}}</td>
        </tr>
        <tr>
            <td>IVA:</td>
            <td>{{total[1] | currency:'CRC':true}}</td>
        </tr>
        <tr>
            <td>Total:</td>
            <td>{{total[2] | currency:'CRC':true}}</td>
        </tr>
    </table>
    <div class="grid-btn">
        <button (click)="cancelar()">Cancelar</button>
        <button (click)="comprar()">Finalizar compra</button>
    </div>
</div>