label {
    display: block;
    margin-bottom: .5rem;
}

.text-danger {
    color: #ff0000;
}

input {
    width: 100%;
    border: .1rem solid #ccc;
    padding: .5rem;
    margin-bottom: .5rem;
}

button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    color: #DEEFE7;
    transition: 0.5s;
}

button:hover {
    background-position: right center;
    color: #DEEFE7;
    text-decoration: none;
    cursor: pointer;
}