<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="uil uil-bars"></i>
    </label>

    <ul>
        <!--- <li><a class="active" href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Portafolio</a></li>
            <li><a href="#">Contacto</a></li>--->
        <li (click)="navegar('/')">Inicio</li>
        <li (click)="navegar('/sistema/compras/')">Compras</li>
        <li>Ventas</li>
        <li>Caja</li>
        <li (click)="navegar('/sistema/productos/')">Productos</li>
        <li (click)="navegar('/sistema/categorias/')">Categorias</li>
        <li (click)="navegar('/sistema/clientes/')">Clientes</li>
        <li (click)="navegar('/sistema/proveedores/')">Proveedores</li>
        <li (click)="navegar('/sistema/inventario/')">Inventario</li>
        <li (click)="navegar('/sistema/usuarios/')">Usuarios</li>
    </ul>
</nav>
<section></section>
<!---<nav>
    <ul class="">

        <li (click)="navegar('/')">Inicio</li>
        <li>Vender</li>
        <li>Ventas</li>
        <li>Caja</li>
        <li (click)="navegar('/sistema/productos/')">Productos</li>
        <li (click)="navegar('/sistema/categorias/')">Categorias</li>
        <li (click)="navegar('/sistema/clientes/')">Clientes</li>
        <li (click)="navegar('/sistema/proveedores/')">Proveedores</li>
        <li (click)="navegar('/sistema/inventario/')">Inventario</li>
        <li (click)="navegar('/sistema/usuarios/')">Usuarios</li>
    </ul>
</nav>--->