nav {
    grid-column: 1 /3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 1rem;
}

li:hover {
    background-color: #c9c1c1;
}

a {
    text-decoration: none;
    color: black;
}

#toggle {
    display: none;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 768px) {
    #toggle {
        display: block;
    }
    a {
        display: none
    }
}