ul {
    list-style-type: none;
    position: fixed;
    padding: 0;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    background-color: #002333;
    ;
    height: 100%;
    width: calc((100%/15)*2);
}


/*
ul::-webkit-scrollbar {
    display: none;
}

ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*/

li {
    padding: 1rem;
    /*width: 100%;*/
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

li:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #DEEFE7 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

i {
    color: #B4BEC9 !important;
}

#toggle {
    display: none;
    background-color: transparent;
    border: none;
}

#toggle button {
    background-color: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 868px) {
    li {
        padding: .75rem;
    }
    #toggle {
        display: block;
    }
    a {
        display: none;
        font-size: .7rem;
    }
    ul {
        width: calc((100%/15));
    }
    .responsive ul {
        width: calc((100%/15)*2);
    }
}

@media screen and (max-width: 600px) {
    #toggle {
        display: block;
    }
    a {
        display: none;
        font-size: .7rem;
    }
    ul {
        width: calc((100%/15)*2);
    }
    .responsive ul {
        width: calc((100%/15)*3);
    }
    .responsive li {
        flex-direction: column;
    }
}

.active {
    /*border-left: .2rem solid rgb(20, 48, 124);*/
    box-shadow: inset .5rem 0 0 0 #159A9C;
    color: #159A9C;
}

.active a,
.active i {
    color: #159A9C !important;
}

.responsive #toggle {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.responsive ul li a {
    display: inline;
}

.container-logo img {
    max-width: 100%;
    display: block;
}

.container-logo {
    padding: 0;
}