<h2>Agregar Producto </h2>
<form [formGroup]="form" (ngSubmit)="add()">


    <div class="labels">
        <label for="barcode">Codigo de barras:</label>
        <label for="quantity">Cantidad:</label>
        <label for="priceUnit">Precio Unitario:</label>
    </div>
    <div class="inputs">
        <input type="text" formControlName="barcode" id="barcode" (input)="codigoExiste()">
        <input type="number" formControlName="quantity" id="quantity">
        <input type="number" formControlName="priceUnit" id="priceUnit">
        <button [disabled]="form.invalid" type="submit">
            <p>+</p>
        </button>

    </div>
    <div class="alerts">
        <span *ngIf="campoNoValido('barcode')" class="text-danger">{{barcodeErrorMsg}}</span>
        <span *ngIf="campoNoValido('quantity')" class="text-danger">{{quantityErrorMsg}}</span>
        <span *ngIf="campoNoValido('priceUnit')" class="text-danger">{{priceUnitErrorMsg}}</span>
    </div>

</form>