label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

button {
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    /*border-radius: 50%;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

button p {
    font-size: 1.5rem;
    color: rgb(24, 22, 22);
    margin: 0;
    width: 16px;
    height: 38px;
}


/*
button:hover {
    background-color: #15152b;
    border-color: #15152b;
    cursor: pointer;
}

*/

.text-danger {
    color: #ff0000;
    font-size: .9rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

@media screen and (max-width: 768px) {
    .grid label {
        font-size: .8rem;
    }
}

@media screen and (max-width: 468px) {
    .grid label {
        font-size: .6rem;
    }
}