label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

button {
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    margin-bottom: 0.5rem;
    border: .1rem solid #000090;
    border-radius: 0.25rem;
    background: #000090;
    color: #fff;
}

button:hover {
    background-color: #6868F2;
    border-color: #6868F2;
    cursor: pointer;
}

.text-danger {
    color: #ff0000;
}

form {
    display: grid;
    grid-template-columns: repeat(1fr, 7);
}