<app-spinner *ngIf="!person; else container">
</app-spinner>

<ng-template #container>
    <div class="grid-info">
        <div>
            <h3>Cliente</h3>
            <ul>
                <li>Nombre: {{person.name+' ' +person.lastname}}</li>
                <li>Correo: {{person.email}}</li>
            </ul>
        </div>
        <div>
            <h3>Factura</h3>

            <ul>
                <li>
                    N° Factura: {{sell.id }}
                </li>
                <li>Fecha: {{getDate(sell.created!)}}</li>
            </ul>
        </div>
    </div>
    <thead>
        <tr>


            <th>Codigo</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of details">
            <td>{{detail.barcode}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.priceUnit}}</td>
            <td>{{detail.quantity}}</td>
            <td>{{detail.quantity*detail.priceUnit}}</td>
        </tr>
    </tbody>
</ng-template>