<div class="table-responsive-xl table-responsive-lg table-responsive-md table-responsive-sm container">
    <table class="table">

        <thead class="table-dark">
            <tr>
                <th>Codigo</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Cantidad Minima</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products| paginate :{itemsPerPage:10,currentPage:current};let i=index">
                <td>{{product.barcode}}</td>
                <td>
                    <img [src]="product.image! | imagen:'products'" alt=" " class="img">
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{getCategoria(product.category)}}</td>
                <td>{{product. inventary_min}}</td>
                <td>
                    <button class="btn btn-success btn-sm " (click)="edit(product.id!) "><i class="uil uil-edit "></i></button>
                    <button class="btn btn-danger btn-sm ms-1" (click)="delete(product.id!) "><i class="uil uil-trash-alt "></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="current=$event "></pagination-controls>
</div>