.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    font-weight: 700;
    color: #fff;
    background-color: #542396;
    display: block;
    padding: 0.5rem;
    width: calc(100% - 2px);
    max-width: 100%;
    box-sizing: border-box;
}

.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #7829E3;
}

.label {
    text-align: center;
    font-size: 1rem;
}

.uil {
    text-align: center;
    font-size: 1rem;
}

.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

.text-danger {
    color: #ff0000;
}

input {
    width: 100%;
    border: .1rem solid #ccc;
    padding: .5rem;
    margin-bottom: .5rem;
}

button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    color: #DEEFE7;
    transition: 0.5s;
}

button:hover {
    background-position: right center;
    color: #DEEFE7;
    text-decoration: none;
    cursor: pointer;
}

select {
    width: 100%;
    border: .1rem solid #ccc;
    padding: .5rem;
    margin-bottom: .5rem;
}

img {
    max-height: 25rem;
    display: block;
    max-width: 100%;
}