.grid-general {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
    margin-bottom: 1rem;
}

.grid-general .grid-body {
    background-color: #F2F2F2;
    padding: .5rem;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .grid-general {
        grid-template-columns: 1fr;
    }
}